@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
font-family: 'Lato', sans-serif;
font-weight: 300;
font-family: 'Oswald', sans-serif;
color:#3a3a3a;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}


/*-- nav links below this section: --*/
#menu {
font-size:110%;
letter-spacing: 4px;
}

#menu #logo {
    /*--This centers the nav links to the logo --*/
    line-height: 75px;
}

#menu li{
    float:right;
    /*--overrides style --*/
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    /* inherits the color from the menu */
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;

    /*This will keep this relative to the page, and helps center the overlay text way below.*/
    position:relative;

}

#hero-image{
    height:600px;
    width:100%;
    background: url('../images/hero-image.webp')no-repeat center center;

    /* this actually creates the animation. Notice the name refernces the @keyframes code below.*/
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* defines the level of zoom for the animation on the page */
@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*ovverides h2 rule on overlay*/
#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text{
    font-size: 130%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    /*Width and Height of Div itself*/
    width:300px;
    height:200px;

    padding-top: 40px;
    padding-left: 10px;

    /*TRANSPARENCY and color through rgba instead of just color.*/
    background-color: rgba(241,109,107, .7);
    /*rounded corners - my own touch*/
    border-radius: 2%;

    /*Fixed position relative to the parent*/
    bottom: 30px;
    right: 150px;

    position:absolute;
    /*Note that this is a child of hero-outer. so wee need to address the position on that. See above.*/
}

#club-ethos {
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about{
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about{
/*This one's different it holds others in place (?), for that reason we use the margin auto*/
    width: 33%;
    margin:auto;
}

.left-about-heading {

    height:60%;
    float:right;
    line-height:20px;
    /*clear:both, ensures content blocks align vertically*/
    clear:both;
    margin:50px;
}

.right-about-heading{
    height: 60%;
    float: left;
    line-height: 20px;
    clear:both;
    margin:50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

.welcome {
    text-align: center;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}


#circle-cover-bg{
    background: url('../images/ethos-center-image.jpg') no-repeat center center;
    /*without the height, the image won't show up.*/
    height: 100%;
    border-radius: 50%;
}

#times{
    background-image: url('../images/dublin-city.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow:hidden;
}

#times div {
    color: #fafafa;
    /*we need transparency. so we're using rgba values here.*/
    backround-color: rgba(0, 0, 0, .6);
    /*We're dividing 5 panels here, so give them 20% each.*/
    width: 20%;
    height: 300px;
    float: left;
    /*padding on frames. 30px for top, and 10 for the left.*/
    padding: 30px, 0, 0, 10px;
    /*Actual styling of the panels*/
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;

}

#times h2 {
    color:#fafafa;
}

footer {
    height: 150px;
}

.social-networks {
    /*Centers the group to horizontal center.*/
    text-align: center;
}

.social-networks > li {
    /*centers list to itself.*/
    display: inline;
}

.social-networks i {
    /*deals with separation and padding of social media elements.*/
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    /*For the title above the club ethos section*/
    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    /*aligns picture to bottom, after the content. How would I do it at the top though?*/
    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    hr {
        /*Clears the lines under the club ethos topic sections.*/
        display: none;
    }
}

/* For medium screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    /*Inherits the width from the parent div and fits the text to that area*/
    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    /*Centers text*/
    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    /*This overrides times section for events so taht it is arranged vertically rather than horizontally.*/
    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    /*Adjusts gallery section*/
    #photos {
        column-count: 3;
    }
}


/* For small screen sizes from 950px wide and down */
@media screen and (max-width: 800px){

    /*Adjusts gallery section*/
    #photos {
        column-count: 2;
    }

}



/* Form */

.form-section {
    clear: left;
    background: url("https://codeinstitute.s3.amazonaws.com/FundamentalsProjects/HTML-CSS/formbg.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color:#fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left:10%;
    padding: 30px;
}

.signup-form h2 {
    
    color:#fafafa;
    margin-bottom:20px ;
    background-color:rgba(60, 60, 60, 0.6);
    max-width:400px;
    position:relative;
    float:10%;
}

.text-input {
    background:transparent;
    color:#fafafa;
    width:100%;
    height:25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius:2px;
}

.text-input:hover{
    border-color: #f16c6b;
}

.join-button{
    margin-top:20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color: #f16c6b;
    color: #fafafa;
    display:block;
    
}

.join-button:hover{
    background-color: #fafafa;
    color: #f16c6b;
    
}